<!DOCTYPE html>
<html lang="en">
	<head>


		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

		<!-- Loading third party fonts -->
		<link href="//fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
		<link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css">

		<!-- Loading main css file -->
		<link rel="stylesheet" href="style.css">
		<%= favicon_link_tag 'favicon.ico' %>

		<!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->

	</head>


	<body>




		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-62428782-3', 'auto');
		  ga('send', 'pageview');

		</script>

		<script type="text/javascript">
			if (screen.width <800){
				alert("Sorry, this portal could only be viewed by desktop devices.");
				window.location = ""
			}
			
		</script>


		<div class="site-content">
			<header class="site-header" data-bg-image="">
				<div class="container">

					<div class="header-bar">
						<a href="index.html" class="branding">
							<img src="images/logo.png" alt="" class="logo">
							<div class="logo-type">
								<h1 class="site-title">Sustainable Systems & Solutions Lab</h1>
								<small class="site-description">S3-Lab</small>
							</div>
						</a>


						<nav class="main-navigation">
							<button class="menu-toggle"><i class="fa fa-bars"></i></button>
							<ul class="menu">
								<li class="home menu-item current-menu-item"><a href="index.html"><img src="images/home-icon.png" alt="Home"></a></li>
								<li class="menu-item"><a href="about.html">About S3-Lab</a></li>
								<li class="menu-item"><a href="people.html">People</a></li>
								<li class="menu-item"><a href="research.html">Research</a></li>
								<li class="menu-item"><a href="publications.html">Publications</a></li>
								<li class="menu-item"><a href="contact.html">Contact</a></li>
							</ul>
						</nav>

						<div class="mobile-navigation"></div>
					</div>
				</div>
			</header>

			<div class="hero">
				<ul class="slides">
					<li data-bg-image="images/22.jpg">
						<div class="container">
							<div class="slide-content">
								<h2 class="slide-title">Sustainable Systems & Solutions Lab</h2>
								<p>S3-Lab is an interdisciplinary research and practice lab dedicated to develop system-based sustainability solutions for the socio-economic and environmental issues by bridging the academia and industry.</p>
								<a href="./about.html" class="button">See details</a>
							</div>
						</div>
					</li>
					<li data-bg-image="images/home2.jpg">
						<div class="container">
							<div class="slide-content">
								<h2 class="slide-title">Web-Based, Global Carbon Accounting Tool (G-CAT)</h2>
								<p>This online decision making tool enables the users to conduct a detailed, global and supply chain-based carbon footprint analysis in just 5 steps.</p>
								<a href="./gcat.html" class="button">See details</a>
							</div>
						</div>
					</li>
					<!-- <li data-bg-image="images/home3.jpg">
						<div class="container">
							<div class="slide-content" style="color: black; font-weight: bold;">
								<h2 class="slide-title" style="font-weight: bold;">SEHIR and Arizona State University Cooperate!</h2>
								<a href="./newlab.html" class="button">See details</a>
							</div>
						</div>
					</li> -->
				</ul>
			</div>

			<main class="main-content">
				<div class="fullwidth-block">
					<div class="container">
						<div class="row">
							<div class="col-md-3 col-sm-6">
								<div class="feature">
									<img src="images/about.png" alt="" class="feature-image1">
									<h2 class="feature-title">About S3-Lab</h2>
									<p>Sustainability Systems and Solutions Laboratory heavily focuses on multi regional analysis to realize the reacion of each input and so as to shape global butterfly effect.  </p>
									<a href="./about.html" class="button">Learn more</a>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="feature">
									<img src="images/gcat.png" alt="" class="feature-image1">
									<h2 class="feature-title">G-CAT</h2>
									<p>We proudly announce our recent product for Input-Output research society, G-CAT, that creates a framework for global IO analysis.</p>
									<a href="./gcat" class="button">Learn more</a>
								</div>
							</div>

							<div class="col-md-3 col-sm-6">
								<div class="feature">
									<img src="images/icon-genetics-small.png" alt="" class="feature-image">
									<h2 class="feature-title">Research</h2>
									<p>Energy systems to sustainable supply chain manufacturing, S3-Lab supports research community by commiting state-of-art publications and transforming them to real-time application. </p>
									<a href="./research" class="button">Learn more</a>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="feature">
									<img src="images/people.png" alt="" class="feature-image1">
									<h2 class="feature-title">People</h2>
									<p>We are a team of dedicated researchers who are ambitious on advancing sustainability community.</p>
									<a href="./people" class="button">Learn More</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="fullwidth-block cta" data-bg-image="images/neq.jpg" style="height: 390px; width: auto;">
					<div class="container1">
						<h2 class="cta-title">Global Carbon Accounting Tool (G-CAT)</h2>
						<p style="margin-top: 30px;">S3-Lab researchers developed the first web-based global carbon accounting tool (G-CAT) that can capture the regional and global carbon footprint on nation’s production and consumption. </p>
						<a href="./gcat" class="button" style="margin-top: 5px;">Use the tool!</a>
					</div>
				</div>

  	<div style="font-size: 60px; text-align: center;">News & Upcoming </div>

				<div class="fullwidth-block">
   <a href="/news.html"><div class="block image1">
    <div class="layer"></div>
    <div class="p-container">
       <p class="img-p"> Pursuit of Sustainability: The S3-Lab's Directors' Notes on The Cities of the Future-H2020 </p>
     </div>
  </div></a>
   <!-- block -->

   <a href="/news.html#cpet"><div class="block image2">
    <div class="layer"></div>
    <div class="p-container">
       <p class="img-p">Dr. Kucukvar attended to the Collaborative Programme Euphrates and Tigris  
(CPET) Socioeconomic and Energy Task Force Meetings in Kuala Lumpur Malaysia</p>
     </div>
  </div></a>
 

   <a href="/news.html#battery"><div class="block image3">
    <div class="layer"></div>
    <div class="p-container">
       <p class="img-p">Dr. Onat met with the CEO of Battery Switchy Inc. targeting the EU Horizon 2020 innovation action project calls.</p>
     </div>
  </div></a>


   <a href="/news.html#metropol"><div class="block image4">
    <div class="layer"></div>
    <div class="p-container">
       <p class="img-p"> The Metropolitan Istanbul is getting Thirstier! </p>
     </div>
  </div></a>
 


  </div>

					<h2 class="section-title" style="font-size:60px; margin-top: 50px; margin-bottom:50px;">Our Vision & Mission</h2>
					<div class="container">
						<div class="row">
							<div class="col-md-4">
								<h2 class="section-title">Mission</h2>
								<ul class="arrow-list has-border">
									<li>To support decision making tools and methods for sustainable systems</a></li>
									<li>To propose practical, systemic, and sustainable solutions for industrial systems</a></li>
									<li>To bridge academia and industry in the field of environmental, economic and social sustainability</a></li>
									<li>To educate future engineers and social scientists in “systems thinking” for sustainable development</a></li>
								</ul>
							</div>
							<div class="col-md-8">
							<h2 class="section-title">Vision</h2>
							<ul class="arrow-list has-border">

							<li style="margin-bottom: 20px;">	To become an internationally recognized interdisciplinary sustainable research and practice lab, and produce sustainable and systemic solutions for region’s unresolved social, economic, and ecological problems.
							</li>

							</div>

						</div>
					</div>
				</div>




			</main> <!-- .main-content -->

		<footer class="site-footer">
					<div>
						<p>	<a href="http://www.sustainable-systems.org.uk/" target="_blank"><img src="images/sis_logo.jpg" alt=""  class="footerlogo"></a>
						<a href="http://www.sehir.edu.tr/en/Pages/home.aspx#" target="_blank"><img src="images/logo2.png" alt=""  class="footerlogo"></a>
						<a href="https://sustainability.asu.edu/sustainabilitysolutions/" target="_blank"><img src="images/walton.png" alt=""  class="footerlogo"></a>
						<a href="http://tto.sehir.edu.tr/en" target="_blank"><img src="images/tto.png" alt="" class="footerlogo2"></a>
						<a href="http://suen.ormansu.gov.tr/suen/AnaSayfa.aspx?sflang=en" target="_blank"><img src="images/suen.png" alt=""  class="footerlogo"></a>
						</p>


					</div> <!-- .row -->
			</footer>

			<p style="font-size: 20px; text-align: center;">Copyright &copy; 2016 Sustainable Systems &amp; Solutions Lab (S3Lab). All rights reserved. Designed by <a href="https://www.linkedin.com/in/muhammetalitaskin" target="_blank">Muhammet Ali Taşkın</a> </p>


		<script src="js/jquery-1.11.1.min.js"></script>
		<script src="js/plugins.js"></script>
		<script src="js/app.js"></script>


	</body>

</html>
